<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="ISMR24">

  <xacro:include filename="$(find ismr24_plugin)/urdf/robot.xacro" />

  <xacro:arg name="name" default="robot"/>
  <xacro:arg name="x" default="0.0"/>
  <xacro:arg name="y" default="0.0"/>
  
  <link name="world"/>

  <xacro:ismr24_robot prefix="$(arg name)" L="1"/>
  
  <joint name="$(arg name)_base" type="fixed">
    <parent link="world"/>
    <child link="$(arg name)_base_link"/>
    <origin xyz="$(arg x) $(arg y) 0" rpy="0 0 0"/>
  </joint>
  
</robot>
